
<header class="ph">
  <div class="container">
            <span>
                <img src="images/qr_code.png" alt="user" class="logo circle" width="50" height="50" />
            </span>
    <span class="pull-right pos-rel user-info">
                Welcome {{loggedInUser}} | <a href="login">Logout</a>
            </span>
  </div>
</header>
<!-- Navigation -->
<nav class="navbar navbar-default main-nav" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse  p0" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="index.html" class="active">Analytics</a>
        </li>
        <li>
          <a href="playerdetails">Player Personal Data</a>
        </li>
        <li>
          <a href="contact.html">Player Cricketing Data</a>
        </li>
        <li>
          <a href="contact.html">Administration</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
